<!DOCTYPE html>
<html>
<head>
  <title>Someone had a birthday!</title>
</head>
<body>
<h1>Enter the name of the student who had a birthday!</h1>
<p>Students age will be updated and reflected on the main homepage</p>
  <form action="/birthday" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Happy Birthday!</button>
  </form>
</body>
</html>